In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
#02 IMPORTING DATA
path = r'C:\Users\gus_ara\Documents\Instacart Basket Analysis'
df_prods = pd.read_csv(os.path.join(path, '02- Data', 'Prepared Data', 'products_checked_FP.csv'))
df_ords = pd.read_csv(os.path.join(path, '02- Data', 'Prepared Data', 'orders_checked_FP.csv'))
df_ords_prior = pd.read_csv(os.path.join(path, '02- Data', 'Original Data', 'order_products__prior.csv'))

In [4]:
df_prods.head(1)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8

In [5]:
df_ords.head(1)

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_timestamp,days_since_prior_order
0,0,0,2539329,1,1,2,8,0.0

In [6]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   Unnamed: 0.1            int64
 2   order_id                int64
 3   user_id                 int64
 4   order_number            int64
 5   orders_day_of_week      int64
 6   order_hour_timestamp    int64
 7   days_since_prior_order  float64
dtypes: float64(1), int64(7)
memory usage: 208.8 MB

In [7]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [8]:
df_ords_prior.head(1)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1

In [9]:
#03 MERGING DATA
df_merged = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = True)

In [10]:
df_merged.head(2)

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_timestamp,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both

In [11]:
df_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
#03 EXPORTING DATA
df_merged.to_pickle(os.path.join(path, '02- Data','Prepared Data', 'orders_products_combined.pkl'))