In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#03 In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

# IMPORTING PICKLE 

path = r'C:\Users\gus_ara\Documents\Instacart Basket Analysis'
orders_products_combined = pd.read_pickle(os.path.join(path, '02- Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [3]:
#04 Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [4]:
orders_products_combined.shape

(32434489, 12)

In [5]:
orders_products_combined.head(1)

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_timestamp,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both

In [6]:
#dropping the _merge column as the its going to create an error
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [7]:
orders_products_combined.head(1)

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_timestamp,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,1,2,8,0.0,196,1,0

In [8]:
#05 Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
#   Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” 
#   folder from the previous Exercise’s task.

In [9]:
df_prods = pd.read_csv(os.path.join(path, '02- Data', 'Prepared Data', 'products_checked_FP.csv'))

In [10]:
df_prods.head(1)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8

In [11]:
# MERGING DATA
Orders_products_merged = orders_products_combined.merge(df_prods, on = ['product_id'], indicator = True)

In [12]:
Orders_products_merged.head(1)

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_timestamp,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,0.0,196,1,0,195,Soda,77,7,9.0,both

In [13]:
#06 Confirm the results of the merge using the merge flag.

In [14]:
Orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

#07 Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [15]:
Orders_products_merged.to_csv(os.path.join(path, '02- Data','Prepared Data', 'Orders_products_merged_FP.csv'))