In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#02 IMPORTING DATA


path = r'C:\Users\gus_ara\Documents\Instacart Basket Analysis'
Orders_products_merged_FP = pd.read_csv(os.path.join(path, '02- Data', 'Prepared Data', 'Orders_products_merged_FP.csv'))

In [3]:
Orders_products_merged_FP.shape

(32404859, 18)

In [4]:
Orders_products_merged_FP.head()

,Unnamed: 0,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_timestamp,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,0,2539329,1,1,2,8,0.0,196,1,0,195,Soda,77,7,9.0,both
1,1,1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [5]:
# Defining a user defined function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [6]:
Orders_products_merged_FP['price_range'] = Orders_products_merged_FP.apply(price_label, axis=1)

In [7]:
Orders_products_merged_FP['price_range'].value_counts(dropna = False)

Mid-range product    21860860
Low-range product    10126321
High range             417678
Name: price_range, dtype: int64

In [8]:
Orders_products_merged_FP['prices'].max()

99999.0

In [9]:
# busiest day of the week
Orders_products_merged_FP['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [10]:
# LOOP

result = []

for value in Orders_products_merged_FP["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [11]:
# Aplying the loop to our dataframe

In [12]:
Orders_products_merged_FP["Busiest_day"] = result

In [13]:
Orders_products_merged_FP["Busiest_day"].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: Busiest_day, dtype: int64

# Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method

In [14]:
# 2nd LOOP
result_2 = []

for value in Orders_products_merged_FP["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")
  elif value == 4 or value == 3:
    result_2.append("Slowest days")
  else:
    result_2.append("Regularly busy")

In [15]:
Orders_products_merged_FP["Busiest_days2"] = result_2

# Check the values of this new column for accuracy. Note any observations in markdown format.

In [16]:
Orders_products_merged_FP["Busiest_days2"].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: Busiest_days2, dtype: int64

# When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [17]:
Orders_products_merged_FP['order_hour_timestamp'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_timestamp, dtype: int64

In [18]:
# 3th LOOP
result_3 = []

for value in Orders_products_merged_FP["order_hour_timestamp"]:
  if value == 10 or value == 11 or value == 14 or value == 15 or value == 13 or value == 12 or value == 16 or value == 9:
    result_3.append("Most orders")
  elif value == 17 or value == 8 or value == 18 or value == 19 or value == 20 or value == 7 or value == 21 or value == 22:
    result_3.append("Average orders")
  else:
    result_3.append("Fewest orders")
    
#here I divided the hours of the day in 8 hours frames

In [19]:
Orders_products_merged_FP["busiest_period_of_day"] = result_3

In [20]:
Orders_products_merged_FP.head()

,Unnamed: 0,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_timestamp,days_since_prior_order,product_id,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range,Busiest_day,Busiest_days2,busiest_period_of_day
0,0,0,0,2539329,1,1,2,8,0.0,196,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,1,1,1,2398795,1,2,3,7,15.0,196,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,2,2,2,473747,1,3,3,12,21.0,196,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,3,3,3,2254736,1,4,4,7,29.0,196,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,4,4,4,431534,1,5,4,15,28.0,196,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

# Print the frequency for this new column.

In [21]:
Orders_products_merged_FP["busiest_period_of_day"].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

# Ensure your notebook is clean and structured and that your code is well commented.

# Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [23]:
# EXPORTING DATA
Orders_products_merged_FP.to_pickle(os.path.join(path, '02- Data','Prepared Data', 'Orders_products_merged_FP_unit4_7.pkl'))